body {
  background: dodgerblue linear-gradient(22deg, aqua, dodgerblue, deeppink)
    fixed;
}
.formClass {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-bottom: 13px;
}
form{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-items: center;
}
input[type="text"] {
  height: 32px;
  width: 200px;
  border: 2px solid green;
  color: green;
  border-radius: 3px;
  align-self: center;
}
.todoButton {
  margin-left: 15px;
  height: 30px;
  color: rgb(80, 8, 109);
  background-color: rgb(78, 206, 40);
  border: 2px solid black;
  border-radius: 3px;
  margin-top:0px;
  text-align: center;
  display: flex;
  align-items: center;
}
ul {
  display: flex;
  flex-direction: column;
  width: 100%;
  box-sizing: border-box;
  padding-inline-start: 0px !important;
}

li {
   display: flex;
   flex-direction: row;
   /* text-align: center; */
   align-items: center;
   justify-content: center;
   height: 37px;
   border: 2px solid pink;
   background-color: skyblue;
   padding-left: 35px;
   padding-right: 3px;
}

.todosButton {
  color: rgb(80, 8, 109);
  background-color: rgb(78, 206, 40);
  border: 1px solid black;
  border-radius: 50px;
}
.todosButton:disabled{
  cursor: no-drop;
  color: rgb(80, 8, 109);
}

.list {
  display:flex;
  justify-content: space-between;
  font-size: 20px;
}
