body {
  background: dodgerblue linear-gradient(22deg, aqua, dodgerblue, deeppink)
    fixed;
}
.formClass {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-bottom: 13px;
}
input[type="text"] {
  height: 23px;
  width: 200px;
  border: 2px solid green;
  color: green;
  border-radius: 3px;
  align-self: center;
}
.todoButton {
  margin-left: 15px;
  height: 27px;
  color: rgb(80, 8, 109);
  background-color: rgb(78, 206, 40);
  border: 2px solid black;
  border-radius: 3px;
}
ul {
  display: flex;
  flex-direction: column;
  width: 100%;
  box-sizing: border-box;
  padding-inline-start: 0px !important;
}

li {
   display: flex;
   flex-direction: row;
   /* text-align: center; */
   align-items: center;
   justify-content: center;
   height: 37px;
   border: 2px solid pink;
   background-color: skyblue;
   padding-left: 35px;
   padding-top: 7px;
   padding-bottom: 7px;
   padding-right: 3px;
}

.todosButton {
  margin-left: 13px;
  color: rgb(80, 8, 109);
  background-color: rgb(78, 206, 40);
  border: 2px solid black;
  border-radius: 3px;
}

button:hover {
  cursor: pointer;
  color: blue;
}

button:disabled{
    cursor: no-drop;
    color: rgb(80, 8, 109);
}

.list {
  display:flex;
  justify-content: space-between;
  font-size: 20px;
}
